<header class="header" style="height: 100px; width:100% ; background-color:#041640">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="logo"><a href="{% url 'HomePage' %}">Go Travellers</a></div>
						<nav class="main_nav" style="margin-left: 280px;">
							<ul>
								<li class="active"><a href="{% url 'HomePage' %}" style="font-size: 16px;">Home</a></li>
								<li class="active"><a href="{% url 'Recommendation' %}" style="font-size: 16px;">Recommendation</a></li>
								{% if user.is_authenticated %}
								<li class="active"><a href="{% url 'search' %}" style="font-size: 16px;">Recommended For you</a></li>
								
								<li class="active">(<p class="usercss"   style="font-size: 16px; color: white;display: inline-block;">{{request.user}}</p>)<a href="{% url 'logoutuser' %}" style="font-size: 16px;"> 
									Logout</a></li>
								<!-- <li class="active" style="font-size: 15px;">welcome {{request.user.username}}</li> -->
								{% else %}
								<li class="active"><a href="{% url 'loginuser' %}" style="font-size: 16px;">Login</a></li>
								<li class="active"><a href="{% url 'registeruser' %}" style="font-size: 16px;">Register</a></li>
								{% endif %}
							</ul>
						</nav>
						<div class="hamburger ml-auto menu_mm">
							<i class="fa fa-bars trans_200 menu_mm" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>